body {
    background: blanchedalmond;
}

@media screen and (min-width: 700px) {
    .a {
        width: 700px;
        height: 100px;
    }
    .b {
        width: 600px;
        height: 400px;
        display: inline-block;
    }
    .c {
        width: 100px;
        height: 400px;
        display: inline-block;
    }
}
@media screen and (max-width: 699px) {
    .a {
        width: 600px;
        height: 100px;
    }
    .b {
        width: 600px;
        height: 400px;
    }
    .c {
        width: 600px;
        height: 100px;
    }
}
.a {
    background-color: black;
}
.b {
    background-color: blue;
}
.c {
    background-color: blueviolet;
}
